/* ==UserStyle==
@name           Wikipedia Enhanced
@namespace      https://github.com/schalkburger/website-enhancements
@version        1.0.0
@description    Wikipedia Enhanced
@author         Schalk Burger
==/UserStyle== */
@-moz-document domain("wikipedia.org") {
  :root {
    --bgcolor-main: #111216;
  }

  body,
  .mw-page-container,
  .vector-feature-zebra-design-disabled .vector-header-container,
  .vector-feature-zebra-design-disabled body,
  .vector-feature-zebra-design-disabled .mw-page-container,
  .mw-parser-output .navbox,
  .mw-parser-output .navbox-subgroup {
    background-color: var(--bgcolor-main);
  }

  main#content {
    max-width: 75%;
    margin: 0 auto;
  }

  .vector-toc.vector-pinnable-element,
  #vector-main-menu,
  .portal-bar.noprint.metadata.noviewer.portal-bar-bordered {
    background-color: var(--bgcolor-main);
  }

  div#vector-toc.vector-toc.vector-pinnable-element::after,
  div.mwe-popups-container a.mwe-popups-extract::after {
    display: none;
  }

  .vector-page-toolbar {
    visibility: hidden;
  }

  tr,
  div.center,
  .catlinks,
  .cdx-menu,
  div.mwe-popups-container footer,
  div.side-box.metadata.side-box-right.sister-box.sistersitebox.plainlinks,
  .mw-message-box-notice.vector-language-sidebar-alert.mw-message-box,
  .side-box-flex,
  div.noprint.metadata.sister-bar,
  ul.noprint.portalbox.portalborder.portalright,
  div.rt-tooltip.rt-tooltip-above.rt-fade-in-down,
  span.portalbox-link {
    background-color: transparent;
  }

  th,
  .sidebar-list-title {
    background-color: #222 !important;
  }

  tr td,
  div.thumbcaption,
  tr::before {
    background-color: #0b0c0f !important;
    border-color: var(--bgcolor-main) !important;
    color: #9fa0a5 !important;
  }

  * {
    color: #9fa0a5;
  }

  a,
  a.external.text,
  .mw-parser-output a.extiw {
    color: #b4caff;
  }

  div.mwe-popups-container a.mwe-popups-extract {
    background-color: #222;
    padding: 8px;
    padding-bottom: 6px;
    padding-top: 4px;
    margin: 0;
  }

  span.mw-logo-container img,
  #mw-sidebar-button:before,
  .mw-ui-icon:before {
    filter: invert(1);
  }

  .vector-limited-width-toggle {
    border: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #9fa0a5;
  }

  .mw-body h1,
  .mw-body-content h1 {
    font-size: 2.8em;
  }

  .vector-body h2 {
    font-size: 2.5em;
  }

  .vector-body p {
    font-size: 1.4em;
    line-height: 1.65;
    text-align: left;
    font-family: Avenir, "Avenir Next LT Pro", Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  }

  .vector-page-titlebar {
    box-shadow: none;
  }

  .infobox,
  th,
  .sidebar-list-title {
    border-collapse: collapse;
    border-color: transparent;
    background-color: transparent !important;
  }

  .infobox-label,
  .infobox-data,
  .infobox th,
  .infobox td {
    padding: 0.25em 0.75em;
  }

  .vector-toc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--bgcolor-main);
  }

  .vector-toc::-webkit-scrollbar {
    width: 12px;
    background-color: var(--bgcolor-main);
  }

  .vector-toc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

  .vector-feature-zebra-design-disabled .vector-pinnable-element > *:not(:last-child),
  .vector-feature-zebra-design-disabled .vector-dropdown-content > *:not(:last-child),
  h1,
  h2 {
    border-bottom: 1px solid #202328;
  }
  .wikitable,
  .wikitable > * > tr > th {
    border-color: var(--bgcolor-main);
  }

  .wikitable > * > tr > th.headerSort,
  .wikitable > * > tr > th.unsortable,
  .wikitable > * > tr > th[scope="row"] {
    background-color: #15171d !important;
    border-color: var(--bgcolor-main);
  }
  .wikitable > * > tr > th {
    padding-left: 1.5em;
  }
  .wikitable > * > tr > td {
    padding: 0 0.75em;
  }
}
