/* ==UserStyle==
@name           Pomofocus Enhanced
@namespace      https://github.com/schalkburger/website-enhancements
@version        1.0.10
@description    Pomofocus Enhanced
@author         Schalk Burger
==/UserStyle== */
@-moz-document domain("pomofocus.io") {
  :root {
    --background-inherit: inherit;
    --background-transparent: transparent;
    --background-red: #5a1210;
  }
  body {
    font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
    background: var(--background-transparent);
  }

  #target > div > div > div:nth-of-type(1) {
    height: 0;
    opacity: 0;
  }

  #target > div > div > div > div > div {
    margin-bottom: 0;
  }

  #target > div > div > div:nth-of-type(2) {
    padding: 0;
    max-width: 90vw;
  }

  #target > div > div > div:nth-of-type(2) > div > div:nth-of-type(3) {
    padding: 0 12px;
  }

  @media only screen and (max-height: 300px) {
    body {
      height: 100% !important;
      overflow-y: visible !important;
    }
  }

  @media only screen and (max-height: 300px), (max-width: 230px) {
    #target > div > div > div > div > div {
      position: relative;
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 425px) {
    #target > div > div:nth-of-type(1) > div:nth-of-type(1) {
      height: 64px;
      opacity: 1;
    }

    #target > div > div > div:nth-of-type(1) {
      height: 100vh;
      opacity: 1;
      overflow: auto;
    }

    #target > div > div > div > div > div {
      margin-bottom: 0;
      max-width: 90vw;
    }
  }

  @media only screen and (min-width: 768px) {
    #timer-string {
      font-size: 20vw;
    }

    #target > div > div > div:nth-of-type(2) > div > div:nth-of-type(3) {
      padding: 0 12px;
      max-width: 50vw;
    }
  }
}
