/* ==UserStyle==
@name           Tiny Notes Enhanced
@namespace      https://github.com/schalkburger/website-enhancements
@version        1.0.0
@description    Tiny Notes Enhanced
@author         Schalk Burger
==/UserStyle== */
@-moz-document domain("tiny-notes.me") {
  :root {
    --color-raisinblack: #232834;
    --color-ebonyclay: #1f2430;
    --color-timberwolf: #cbccc6;
    --color-manatee: #8c94a3;
    --color-white: #ffffff;
    --color-charcoal: #333b4e;
  }

  textarea {
    background-color: var(--color-raisinblack);
    color: var(--color-timberwolf);
    background-image: linear-gradient(90deg, transparent calc(4rem - 2px), var(--color-manatee) calc(4rem - 2px), var(--color-manatee) 4rem, transparent 4rem),
      linear-gradient(transparent calc(4rem - 1px), lightblue calc(4rem - 1px), var(--color-charcoal) 4rem, transparent);
  }
}
